<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TA JC SQA21">

    <test name="Menu Laporan dan Menu Import ">
        <classes>
            <class name="com.juaracoding.runner.PositiveTestRunner" />
        </classes>
    </test>
</suite>